html, body {
    position: relative;
    font-size: 12px;
    -webkit-text-size-adjust: none;
    user-select: none;
    touch-action: pan-x pan-y;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

button, input, div {
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#wrapper canvas {
    width: 100%;
    height: 100%;
}

#stats {
    text-shadow: 1px 1px 1px black;
    position: absolute;
    pointer-events: none;
    font-family: monospace;
    text-align: right;
    bottom: 10px;
    right: 10px;
    z-index: 200;
    color: white;
}

#stats > #graphs {
    margin-bottom: 10px;
}

#stats > #graphs > canvas {
    width: 125px;
    height: 75px;
}
